.first-year tr {
    background-color: #CFF5D2;
}

.second-year tr {
    background-color:#D6E4FF;
}

.third-year tr {
    background-color: #F3D1F4;
}

.fourth-year tr {
    background-color: #FFE2C6;
}
